.projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    padding-inline: 3em;
    padding-block: 20px;
    margin-top: 5em;
    position: relative;


    .div-tl {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .projects-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
        gap: 1.3em;

    }
}

@media (max-width:600px) {
    .projects {
        .div-tl {
            font-size: x-small;
            width: 100%;
        }

        .projects-cont {
            width: 100%;

            .project {
                width: 100vw;

                .img {
                    width: 100%;
                    height: fit-content !important;

                    img {
                        height: fit-content;
                        width: 100%;
                    }
                }
            }
        }
    }
}