.allProjects{
    display: flex;
    flex-direction: column;
    margin-top: 6em;
    justify-content: center;
    align-items: start;    
    padding-inline: 3em;
    padding-block: 20px;
    gap: 1em;
    // border-top: 1px solid rgba(0, 0, 0, 0.259);
    .projects-cont{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
        gap: 1.3em;
    }
}


@media (max-width:600px) {
    .projects-cont {
            width: 100%;
        }
}